.contact-info {
  margin-top: 5rem;
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
    justify-content: center;
    align-items: center;

    .sideA {
      box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
      height: 100%;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      // align-items: center;
      p {
        margin-bottom: 2rem;
      }
    }
    .sideB {
      width: 100%;
      height: 100%;
    }
  }
}

@media only screen and (max-width: 885px) {
  .contact-info {
    .container {
      grid-template-columns: 1fr;
      .sideA {

      }
      .sideB {

      }
    }
  }
}

