header {
  width: 100%;
  height: 75px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      h1 {
        background: linear-gradient(to right, #3a6186, #89253e);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    nav {
      display: flex;
      align-items: center;
      ul {
        list-style: none;
        display: flex;
        margin-right: 4rem;
        li {
          &:not(:last-child) {
            margin-right: 4rem;
          }
          a {
            text-decoration: none;
            color: #111;
          }
        }
      }
      .btn-buy {
        text-decoration: none;
        padding: .5rem 2.5rem;
        color: #111;
        border: 1px solid #111;
      }
    }
    .hamburger {
      visibility: hidden;
      position: absolute;
    }
  }
}

@media only screen and (max-width: 800px) {
  header {
    .container {
      nav {
        visibility: hidden;
        position: absolute;
      }
      .hamburger {
        padding-top: 15px;
        position: relative;
        visibility: visible;
        cursor: pointer;
      }
    }
  }
}