* {
  font-family: 'Fira Sans', sans-serif;
}

.App {
  .App-inner {
    width: 100%;
    height: 100%;
    &.blur {
      filter: blur(2px);
    }
  }
}

.container {
  width: 90%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  background: #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.6;
  letter-spacing: .75px;
  opacity: .8;
}