.banner {
  margin-top: 5rem;
  .container {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-template-areas: "sideA sideB sideB";
    min-height: 400px;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    &.switch {
      grid-template-areas: "sideB sideB sideA";
    }
    .side-a {
      grid-area: sideA;
    }
    .side-b {
      grid-area: sideB;
      padding: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        margin-bottom: 1rem;
      }
      h2 {
        margin-bottom: 1rem;
      }
    }
  }
}

@media only screen and (max-width: 730px) {
  .banner {
    .container {
      grid-template-columns: auto;
      grid-template-rows: repeat(2, minmax(200px, 1fr));
      grid-template-areas: 
        "sideA"
        "sideB";
      .side-a {
        grid-column: 1/4;
      }
      .side-b {
        grid-column: 1/4;
      }
    }
  }
}